body {
  background-color: rgb(255, 247, 249);
}

h1 {
  color: rgb(32, 146, 195);
}

img {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 8px;
}

.energy-bar {
  height: 10px;
  background-color: #ff9900;
  margin: 5px 0 15px;
  border-radius: 5px;
}

.cat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.cat-card {
  background-color: rgb(179, 221, 243);
  border: 1px solid #ddd;
  border-radius: 12px;
  width: 250px;
  padding: 15px;
  text-align: center;
}
