body {
  background-color: rgb(255, 247, 249);
}

html {
  font-size: 10px;
  font-family: Helvetica, sans-serif;
}

h1 {
  color: rgb(32, 146, 195);
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: 4px 4px 7px rgb(151, 183, 58);
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  text-align: center;
}
